<template>
  <div class="hello">
    <h1 class="is-size-1 mb-5 title has-text-dark">Hey Jude!</h1>
    <div class="columns">
      <div class="column">
        <div class="box has-background-black-ter has-text-light">
          I'm in a box.
          <a href="#" class="is-link">Click me!</a>
        </div>
        <hr />
      </div>
      <div class="column">
        <form class="box has-background-black-ter has-text-light">
          <div class="field">
            <label class="label has-text-light">Email</label>
            <div class="control">
              <input
                class="input"
                type="email"
                placeholder="e.g. alex@example.com"
              />
            </div>
          </div>

          <div class="field">
            <label class="label has-text-light">Password</label>
            <div class="control">
              <input class="input" type="password" placeholder="********" />
            </div>
          </div>

          <button class="button is-primary-light mr-2">Sign in</button>
          <button class="button is-primary mr-2">Sign in</button>
          <button class="button is-primary-dark mr-2">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
