// @use "../sass/utilities/derived-variables" as *;
// @use "../sass/utilities/mixins" as *;
@use 'sass:meta';

@import "@bulvar/bulma/sass/utilities/derived-variables";
@import "@bulvar/bulma/sass/utilities/mixins";

.light-theme {
  /// Invert Colors
  --invert-dark-color:  hsl(0, 0%, 7%);
  --invert-dark-color-bis:  hsl(0, 0%, 15%);
  --invert-dark-color-ter:  hsl(0, 0%, 20%);

  --invert-light-color:hsl(0, 0%, 90%);
  --invert-light-color-bis:hsl(0, 0%, 95%);
  --invert-light-color-ter:hsl(0, 0%, 100%);

  /* 
    Black and White
  */

  // White Colors
  --white-h: 0deg;
  --white-s: 0%;
  --white-l: 4%;
  --white-a: 1;
  --white: hsla(var(--white-h), var(--white-s), var(--white-l), var(--white-a));
  --black-bis: hsl(0deg, 0%, 9%);
  --black-ter: hsl(0deg, 0%, 14%);
  --white-invert: var(--invert-dark-color);
  --white-invert-bis: var(--invert-dark-color-bis);
  --white-invert-ter: var(--invert-dark-color-ter);
  --white-light-l: 100%;
  --white-light: hsla(var(--white-h), var(--white-s), var(--white-light-l), var(--white-a));
  --white-dark-l: 29%;
  --white-dark: hsla(var(--white-h), var(--white-s), var(--white-dark-l), var(--white-a));

  // Black Colors
  --black-h: 0deg;
  --black-s: 0%;
  --black-l: 100%;
  --black-a: 1;
  --black: hsla(var(--black-h), var(--black-s), var(--black-l), var(--black-a));
  --black-bis: hsl(0deg, 0%, 92%);
  --black-ter: hsl(0deg, 0%, 96%);
  --black-invert: var(--invert-light-color);
  --black-invert-bis: var(--invert-light-color-bis);
  --black-invert-ter: var(--invert-light-color-ter);
  --black-light-l: 96%;
  --black-light: hsla(var(--black-h), var(--black-s), var(--black-light-l), var(--black-a));
  --black-dark-l: 57%;
  --black-dark: hsla(var(--black-h), var(--black-s), var(--black-dark-l), var(--black-a));

  // Light Colors
  --light-h: 0deg;
  --light-s: 0%;
  --light-l: 21%;
  --light-a: 1;
  --light: hsla(var(--light-h), var(--light-s), var(--light-l), var(--light-a));
  --light-invert: var(--invert-dark-color);
  --light-invert-bis: var(--invert-dark-color-bis);
  --light-invert-ter: var(--invert-dark-color-ter);
  --light-light-l: 96%;
  --light-light: hsla(var(--light-h), var(--light-s), var(--light-light-l), var(--light-a));
  --light-dark-l: 29%;
  --light-dark: hsla(var(--light-h), var(--light-s), var(--light-dark-l), var(--light-a));
  
  // Dark Colors
  --dark-h: 0deg;
  --dark-s: 0%;
  --dark-l: 92%;
  --dark-a: 1;
  --dark: hsla(var(--dark-h), var(--dark-s), var(--dark-l), var(--dark-a));
  --dark-invert: var(--invert-light-color);
  --dark-invert-bis: var(--invert-light-color-bis);
  --dark-invert-ter: var(--invert-light-color-ter);
  --dark-light-l: 96%;
  --dark-light: hsla(var(--dark-h), var(--dark-s), var(--dark-light-l), var(--dark-a));
  --dark-dark-l: 54%;
  --dark-dark: hsla(var(--dark-h), var(--dark-s), var(--dark-dark-l), var(--dark-a));
}