@use 'sass:meta';

$primary: #ffa45b;
$primary-invert: #121212;
$primary-dark: #ff8f33;
$primary-invert-dark: $primary-invert;

$secondary: #121212;
$secondary-invert: findColorInvert($secondary);

$accent: #ffb400;
$accent-hover: #eca701;

$dark-bg-color: $secondary;
$light: #121212;
$light-invert: #eeeeee;
$dark: #fefefe;
$dark-invert: findColorInvert($dark);
$off-white: #eeeeee;

$black:	#fefefe;
$black-bis: #f2f2f2;
// change this
$black-ter:	#e6e6e6;
$grey-darker: #d9d9d9;
$grey-dark:	#a6a6a6;
$grey: #999999;
$grey-light: #8c8c8c;
$grey-lighter:	#666666;
$grey-lightest:	#4d4d4d;
$white-ter:	#262626;
$white-bis:	#1a1a1a;
$white: #121212;

@use '@bulvar/bulma/bulma' with (
  $colors: (
    'light': (
      $light,
      $light-invert
    ),
    'dark': (
      $dark,
      $dark-invert
    ),
    'grey': (
      $grey,
      $grey-lightest
    ),
    'primary': (
      $primary,
      $primary-invert
    ),
    'primary-dark': (
      $primary-dark,
      $primary-invert-dark
    ),
  ),
  $shades: (
    'black': $black-bis,
    'black-ter': $black-ter,
    'grey-darker': $grey-darker,
    'grey-dark': $grey-dark,
    "grey": $grey, 
    'grey-light': $grey-light,
    'grey-lighter': $grey-lighter,
    'white-ter': $white-ter,
    'white-bis': $white-bis,
  ),
);

// @use '@bulvar/bulma/themes/light' with (
//   $button-family: 'Helvetica',
// );


// @include meta.load-css('@bulvar/bulma/themes/dark');
@include meta.load-css('@bulvar/bulma/themes/light');


