@use 'sass:meta';

$primary: #ffa45b;
$primary-invert: #121212;
$primary-dark: #ff8f33;
$primary-invert-dark: $primary-invert;
$secondary: #121212;
$secondary-invert: #fefefe;
$accent: #ffb400;
$accent-hover: #eca701;
$dark-bg-color: $secondary;
$light: #fefefe;
$light-invert: red;
$dark: #121212;
$dark-invert: #eeeeee;
$light-gray: #a2a1a1;
$off-white: #eeeeee;

$black:	#121212;
$black-bis: #1a1a1a;
$black-ter:	#262626;
$grey-darker: #4d4d4d;
$grey-dark:	#8c8c8c;
$grey: #999999;
$grey-light: #a6a6a6;
$grey-lighter: #cccccc;
$grey-lightest:	#d9d9d9;
$white-ter:	#e6e6e6;
$white-bis:	#f2f2f2;
$white: #fefefe;

@use '@bulvar/bulma/bulma' with (
  $colors: (
    'light': (
      $light,
      $light-invert
    ),
    'dark': (
      $dark,
      $dark-invert
    ),
    'grey': (
      $grey,
      $grey-lightest
    ),
    'primary': (
      $primary,
      $primary-invert
    ),
    'primary-dark': (
      $primary-dark,
      $primary-invert-dark
    ),
  ),
  $shades: (
    'black': $black-bis,
    'black-ter': $black-ter,
    'grey-darker': $grey-darker,
    'grey-dark': $grey-dark,
    "grey": $grey, 
    'grey-light': $grey-light,
    'grey-lighter': $grey-lighter,
    'white-ter': $white-ter,
    'white-bis': $white-bis,
  ),
);

// @use '@bulvar/bulma/themes/light' with (
//   $button-family: 'Helvetica',
// );


// @include meta.load-css('@bulvar/bulma/themes/dark');
@include meta.load-css('@bulvar/bulma/css/bulma');
